body {
  margin: 0;
  padding: 0;
}
.wrapper{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#field {
  position: relative;
  background-image: url("../img/field.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 1200px;
}

#player {
  position: absolute;
  background-image: url("../img/spaceship.png");
  height: 128px;
  width: 100px;
  bottom: 0;
}